<section class="container mx-auto md:p-10 p-5 z-10 animate__animated animate__fadeInRight">
    <div class="text-2xl font-bold">
        <h2 class="text-lg font-serif mx-5 mt-5 ">ABOUT</h2>
    <h1 class="md:text-3xl text-2xl font-bold mx-5 mb-5 ">LEARN MORE ABOUT ME</h1>
    </div>
    <div class="flex lg:flex-row flex-col mt-10">
        <div class="lg:w-1/2 w-full flex items-center justify-center animate__animated animate__fadeInRight"><img
                class="lg:w-[25rem] lg:h-[25rem] sm:w-[19rem] mb-10 sm:h-[19rem] w-[15rem] h-[15rem] rounded-full object-cover"
                src="../../assets/profile.jpeg" alt=""></div>
        <div
            class="lg:w-1/2 w-full  flex flex-col gap-3 text-lg font-serif justify-center animate__animated animate__fadeInRight">
            <h1 class="font-bold text-2xl text-left">Java Full Stack Developer & Tech Enthusiast</h1>
            <p class="text-wrap">Hi, I'm <b>Raja</b> , a passionate and reliable Java Full Stack Developer in the
                making. Currently pursuing my Bachelor's in Computer Science Engineering (2021–2025), I've developed a
                strong foundation in software development through both academic learning and self-driven projects.</p>
            <p>With skills in <b> Java, Spring Boot, Angular, HTML, CSS, JavaScript, and SQL</b>, I focus on building
                clean, scalable, and responsive web applications that solve real-world problems.</p>
            <p>I believe in writing clean, efficient code and learning continuously to stay ahead in the ever-evolving
                tech world. From crafting a tea shop website to designing a full-scale educational platform, every
                project I build is a step toward excellence</p>
        </div>

    </div>
    <div class="flex lg:flex-row flex-col mt-10">
        <div class="lg:w-1/2 w-full">
            <h1 class="font-bold text-2xl text-left">💼 My Professional Edge</h1>
            <ol class="list-disc px-5">
                <li>Strong foundation in Data Structures, Algorithms, OOP & DBMS</li>
                <li>Hands-on with GitHub, Postman, IntelliJ, VS Code</li>
                <li>Proactive learner with a growth mindset</li>
                <li>Great team collaborator & problem-solver</li>
                <li>Certified in Java, HTML, CSS</li>
            </ol>
            <h1 class="font-bold text-2xl text-left mt-5">💡 My Vision</h1>
            <p>To grow into a dependable full stack developer who doesn’t just write code, but builds trust, adds value, and makes a real difference through technology.</p>

        </div>
        <div class="lg:w-1/2 w-full mt-5 ">
            <ul class="lg:text-lg font-semibold lg:h-1/2">
                <li>📞 Phone: +91 9629083895</li>
                <li>🏙️ City: Tamil Nadu, India</li>
                <li >📧 Email: rajaamutha033&#64;gmail.com</li>
                <li>🤝 Collaboration: Actively looking for opportunities</li>
            </ul>
            <div class="lg:h-1/2 mt-5">
                <h1 class="font-bold text-2xl text-left">🛠️ Tech Stack:</h1>
            <h3 class="font-semibold text-lg">Java | Spring Boot | Angular | HTML | CSS | JavaScript | My SQL</h3>
            </div>
        </div>
    </div>
   

</section>