<div class="container mx-auto flex flex-col-reverse lg:flex-row px-5 lg:h-[40rem]">
    <!-- Text Section with Fade Left -->
     
    <div class="lg:w-1/2 w-full flex items-center animate__animated animate__fadeInLeft">
      <div>
        <h1 class="text-4xl font-bold mt-2 text-center lg:text-left">
          <span class="inline-block animate__animated animate__fadewave ">👋</span> Hey, I'm Raja
        </h1>
        <h2 class="text-2xl font-semibold mt-2 text-center lg:text-left">
          A Reliable Java Full Stack Developer in the Making
        </h2>
        <p class="mt-4 text-gray-600 text-center lg:text-left">
          Crafting clean, scalable web apps with Java, Spring Boot & Angular — built with trust, passion, and precision.
        </p>
      </div>
    </div>
  
    <!-- Image Section with Fade Right -->
    <div class="lg:w-1/2 w-full flex items-center justify-center lg:p-10 p-5 animate__animated animate__fadeInRight">
      
        <img
          class="lg:w-[28rem] lg:h-[28rem] w-[18rem] h-[18rem] rounded-full  object-cover"
          src="../../assets/WhatsApp Image 2025-06-04 at 2.15.04 PM.jpeg"
          alt="Raja"
        />
      
    </div>
  </div>
  