<section class="container mx-auto p-5 animate__animated animate__fadeInRight">
     <h2 class="text-lg font-serif mx-5 mt-5 ">PROJECTS</h2>
    <h1 class="md:text-3xl text-2xl font-bold mx-5 mb-5 ">Explore My Projects</h1>
    <div>
        <app-project-card projectName="📘 1. Tea Shop Website"
            liveDemoLink="https://raja0333.github.io/tea-shop-website/" projectImagePath="tea shop image"
            techStack="HTML, CSS" Description="A fully responsive and visually appealing static website for a local tea shop. Designed using
                        semantic HTML and modern CSS layout techniques, it showcases my understanding of front-end
                        design, mobile responsiveness, and clean UI development." repoLink="https://github.com/raja0333/tea-shop-website"></app-project-card>

        <app-project-card projectName="🎓 2. EduLe – Education Platform"
            liveDemoLink="https://raja0333.github.io/EduLe/" projectImagePath="EduLe image"
            techStack="Angular, Tailwind CSS"
            Description="A modern educational web application built using Angular. EduLe is focused on a clean user experience with responsive design, modular components, and scalable architecture. This project highlights my ability to work with frameworks, utility-first styling (Tailwind), and SPA concepts."
            repoLink="https://github.com/raja0333/EduLe"></app-project-card>

            <app-project-card projectName="🧠 3. Final Year Project – Construction PPE Detection System"
            liveDemoLink="" projectImagePath="PPE IMAGE"
            techStack="Python, EfficientDet, TensorFlow, OpenCV"
            Description="This project is an AI-based safety monitoring system designed to detect whether construction workers are wearing personal protective equipment (PPE) such as helmets, safety vests, and masks. The model uses the EfficientDet architecture with custom dataset training to identify compliance in real time through camera feeds."
            repoLink="https://github.com/Raja0333/construction-ppe-detection"></app-project-card>
    </div>

</section>