<section class="container mx-auto animate__animated animate__fadeInLeft">
    <h2 class="text-lg font-serif mx-5 mt-5 ">SKILLS</h2>
    <h1 class="md:text-3xl text-2xl font-bold mx-5 mb-5 ">Explore My Tech Stack</h1>
    <div class="flex flex-wrap  p-5">
         <div class="w-full rounded-2xl lg:w-1/2 order-2 lg:order-1 mt-10 lg:mt-0 lg:px-10">
            <div class="">
                <h1 class=" text-lg md:text-2xl font-bold">🌐 Front-End Technologies</h1>
                <div class="px-2 lg:px-5">
                    <app-skills-card skillName="HTML5" skillImagePath="html"
                        Description="Semantic, structured markup"></app-skills-card>
                    <app-skills-card skillName="CSS3 " skillImagePath="css"
                        Description="Responsive, custom styles, layouts"></app-skills-card>
                    <app-skills-card skillName="Angular" skillImagePath="angular"
                        Description=" SPA development, component-based UI"></app-skills-card>
                    <app-skills-card skillName="Tailwind CSS" skillImagePath="tailwind"
                        Description=" Utility-first styling for faster design"></app-skills-card>
                </div>
            </div>
        </div>
        <div class="w-full rounded-2xl lg:w-1/2 order-1 lg:mt-0  mt-0 lg:order-1 lg:px-10 ">
            <div class="" >
                <h1 class=" text-lg md:text-2xl font-bold">👨‍💻 Programming Languages</h1>
                <div class="px-2 lg:px-5">
                    <app-skills-card skillName="Java" skillImagePath="java"
                        Description="Core and OOP-based development"></app-skills-card>
                    <app-skills-card skillName="JavaScript" skillImagePath="javaScript"
                        Description="DOM manipulation, interactivity"></app-skills-card>
                    <app-skills-card skillName="TypeScript" skillImagePath="typescript"
                        Description="DOM manipulation, interactivity"></app-skills-card>
                </div>
            </div>
        </div>
                <div class="w-full rounded-2xl lg:w-1/2 order-3 mt-10 lg:order-2 lg:px-10">
            <div class="" >
                <h1 class=" text-lg md:text-2xl font-bold">⚙️ Back-End Development</h1>
                <div class="px-2 lg:px-5">
                    <app-skills-card skillName="Spring Boot" skillImagePath="spring_boot"
                        Description="REST APIs, MVC, backend logic"></app-skills-card>
                    <app-skills-card skillName="My SQL " skillImagePath="my_sql"
                        Description="Queries, joins, data handling"></app-skills-card>
                    <app-skills-card skillName="Postman" skillImagePath="postman"
                        Description="API testing and debugging"></app-skills-card>
                </div>
            </div>
        </div>
        <div class="w-full rounded-2xl lg:w-1/2 order-4 mt-10 lg:order-2 lg:px-10">
            <div class="" >
                <h1 class=" text-lg md:text-2xl font-bold">🧠 Core Computer Science Concepts</h1>
                <div class="px-2 lg:px-5">
                    <app-skills-card skillName="Data Structures & Algorithms" skillImagePath=""
                        Description=" Efficient problem-solving"></app-skills-card>
                    <app-skills-card skillName="OOP (Object-Oriented Programming)" skillImagePath=""
                        Description="Code organization, reuse"></app-skills-card>
                    <app-skills-card skillName="DBMS" skillImagePath=""
                        Description="Relational database concepts, normalization"></app-skills-card>
                </div>
            </div>
        </div>
        <div class="w-full rounded-2xl lg:w-1/2 order-5 mt-10 lg:order-3 lg:px-10">
            <div class="" >
                <h1 class=" text-lg md:text-2xl font-bold">🧰 Tools & Platforms</h1>
                <div class="px-2 lg:px-5">
                    <app-skills-card skillName="VS Code, IntelliJ IDEA" skillImagePath=""
                        Description=" Development environments"></app-skills-card>
                    <app-skills-card skillName="Git & GitHub" skillImagePath=""
                        Description="Version control and collaboration"></app-skills-card>
                    <app-skills-card skillName="Postman" skillImagePath=""
                        Description="API testing and validation"></app-skills-card>
                </div>
            </div>
        </div>
        <div class="w-full rounded-2xl lg:w-1/2 order-5 mt-10 lg:order-3 lg:px-10">
            <div class="" >
                <h1 class=" text-lg md:text-2xl font-bold">💡 Soft Skills</h1>
                <div class="px-2 lg:px-5">
                    <app-skills-card skillName="Strategic Problem Solving" skillImagePath=""
                        Description=""></app-skills-card>
                    <app-skills-card skillName="Collaboration & Teamwork" skillImagePath=""
                        Description=""></app-skills-card>
                    <app-skills-card skillName="Growth Mindset" skillImagePath=""
                        Description=""></app-skills-card>
                        <app-skills-card skillName="Volunteer Experience" skillImagePath=""
                        Description=""></app-skills-card>
                </div>
            </div>
        </div>
       
    </div>
</section>