<div class="flex justify-center lg:justify-baseline gap-3">
      <a href="https://www.instagram.com/_raja_033?igsh=MXQ3bmowMWc0ZWxhcw=="><img class="lg:w-12 lg:h-12 w-10 h-10" src="../assets/social_15707776.png" alt="instagram logo"></a>
      <a href="https://www.linkedin.com/in/raja-muthaiyan-81a466273?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img class="lg:w-12 lg:h-12 w-10 h-10" src="../assets/linkedin.png" alt="linkedin logo"></a>
      <a href="https://github.com/Raja0333"><img class="lg:w-12 lg:h-12 w-10 h-10" src="../assets/github.png" alt="github"></a>
    </div>